button{
    background-color: blue;
    padding: 7px;
    color: aliceblue;
}
h1{
    color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40%;
}

/* .flex1{
    display: flex;
} */
